<div class="card mb-3" style="width: 18rem;">
  <a><img [src]="imagePath" class="card-img-top " alt="..."/></a>
  <div class="card-body">
    <h5 class="card-title">{{ saleDetails.GameItem.Title }}</h5>
    <p class="card-text">{{ saleDetails.Price }} $</p>
    <div class="buttons-container">
      <div class="top-btn">
        <a (click)="addToCart(saleDetails.GameItem.ID)" class="btn btn-success "
          >Add to Cart</a
        >
      </div>
      <div class="bottom-btn">
        <a (click)="updateGame(saleDetails.GameItem.ID)" class="btn btn-primary"
          >Update</a
        >
        <a (click)="deleteGame(saleDetails.GameItem.ID)" class="btn btn-danger"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
