<div class="container">
  <div class="row">
    <h1>
      Provide an email to account which you want to reset password <br />
      and we will send you a verification link
    </h1>
    <form class="form-forget" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input
        placeholder="Provide email to your account
            "
        formControlName="Email"
      />
      <p *ngIf="formGroup.get('Email').errors?.required" class="text-danger">
        Email is required
      </p>
      <Button type="submit">Reset Password</Button>
    </form>
  </div>
</div>
