<div class="container p-5">
  <form class="form">
    <div class="form-group input-box">
      <input
        placeholder="First name"
        type="text"
        required="required"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="Last name"
        type="text"
        required="required"
        class="form-control "
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="Country"
        type="text"
        required="required"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="City"
        type="text"
        required="required"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input placeholder="State" type="text" class="form-control" />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="Street input-box"
        type="text"
        required="required"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="000-00"
        type="text"
        required="required"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="Alternative email adress"
        type="text"
        class="form-control"
      />
    </div>
    <div class="form-group input-box">
      <input
        type="text"
        class="form-control"
        placeholder="Alternative Phone number"
      />
    </div>
    <div class="form-group">
      <button name="submit" type="submit" class="btn-submit-cst">Order</button>
    </div>
  </form>
</div>
