<div class="container-custom">
  <form class="form">
    <h2>Login</h2>
    <div class="input">
      <div class="input-box">
        <label>Username</label>
        <input type="text" />
      </div>
      <div class="input-box">
        <label>Password</label>
        <input type="password" />
      </div>
      <div class="input-box">
        <input type="submit" value="Sign In" />
      </div>
    </div>
    <p class="forget">Forget Password ? <a href="#">Click here</a></p>
  </form>
</div>
