.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 83vh;
}
.label {
  font-size: 5rem;
}

.button {
  background-color: brown;
  padding: 10px;
  border-radius: 15px;
}
