<div class="container p-5 d-flex align-items-center justify-content-center">
  <app-loading-spinner *ngIf="submited == true"></app-loading-spinner>
  <form [formGroup]="newGameForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-group input-box">
      <input
        [ngClass]="{
          'form-invalid': newGameForm.get('Title').errors?.required
        }"
        placeholder="Title"
        type="text"
        required="required"
        class="form-control"
        formControlName="Title"
      />
    </div>
    <div class="form-group input-box">
      <input
        [ngClass]="{
          'form-invalid': newGameForm.get('Description').errors?.required
        }"
        placeholder="Description"
        type="text"
        required="required"
        class="form-control"
        formControlName="Description"
      />
    </div>
    <div class="form-group input-box">
      <input
        [ngClass]="{
          'form-invalid': newGameForm.get('Producent').errors?.required
        }"
        placeholder="Producent"
        type="text"
        required="required"
        class="form-control"
        formControlName="Producent"
      />
    </div>
    <div class="form-group input-box">
      <input
        [ngClass]="{
          'form-invalid': newGameForm.get('Price').errors?.required
        }"
        placeholder="Price"
        type="text"
        required="required"
        class="form-control"
        formControlName="Price"
      />
    </div>
    <div class="form-group input-box">
      <input
        placeholder="Pegi"
        type="text"
        class="form-control"
        formControlName="Pegi"
      />
    </div>
    <div class="form-group input-box file-input">
      <label for="file-cs" class="label">Photo</label>
      <input
        type="file"
        class="form-control file"
        (change)="onUploadImageChange($event)"
        id="file-cs"
      />
      <label for="file-cs">Select a file</label>
    </div>

    <div class="form-group input-box">
      <input
        [ngClass]="{
          'form-invalid': newGameForm.get('LaunchDate').errors?.required
        }"
        placeholder="Launch Date eg:DD/MM/YYYY"
        type="text"
        required="required"
        class="form-control"
        formControlName="LaunchDate"
      />
    </div>
    <div class="form-group dropdown-cst">
      <label for="dropdownMenuButton">Type</label>
      <select
        class="custom-select"
        (change)="changeType($event)"
        formControlName="Type"
      >
        <option value="" disabled>Choose game type</option>
        <option *ngFor="let type of types">{{ type }}</option>
      </select>
    </div>
    <div class="form-group dropdown-cst">
      <label for="dropdownMenuButton">Platform</label>
      <select
        class="custom-select"
        (change)="changePlatform($event)"
        formControlName="Platform"
      >
        <option value="" disabled>Choose platform</option>
        <option *ngFor="let platform of platforms">{{ platform }}</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="btn-submit-cst" value="Add Game" />
    </div>
  </form>
</div>
