.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: fill;
}

.buttons-container {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.top-btn a {
  width: 100%;
}

.bottom-btn {
  display: flex;
  width: 100%;
}

.bottom-btn a {
  width: 45%;
}

.bottom-btn a:nth-child(1) {
  margin-right: 10%;
}
