#deleteBtnPlaceholder {
  display: none !important;
}

.last-column {
  position: relative;
  display: flex !important;
}

.delete-btn {
  position: absolute;
  display: none;
  right: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: red;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
}

.cart-Item:hover .delete-btn {
  display: flex !important;
}
