<div class="container">
  <app-loading-spinner *ngIf="submit == true"></app-loading-spinner>
  <div class="row">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
      <h1>Reset your password</h1>
      <label for="password">Password</label>
      <input type="password" formControlName="password" />
      <p class="text-danger" *ngIf="form.get('password').errors?.required">
        Password is required
      </p>
      <p class="text-danger" *ngIf="form.get('password').errors?.minlength">
        Password must be atleast 8 characters long
      </p>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" formControlName="confirmPassword" />
      <p class="text-danger" *ngIf="form.errors?.passwordMisMatch">
        Passwords does not match
      </p>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
