<div class="container p-5">
  <app-loading-spinner *ngIf="submited == true"></app-loading-spinner>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" id="form">
        <h2>Create Account</h2>
        <div class="form-left">
          <div class="input-box">
            <label>Email</label>
            <input type="email" formControlName="Email" />
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('Email').touched &&
                registerForm.get('Email').errors?.required
              "
            >
              Email addres is required
            </p>
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('Email').touched &&
                registerForm.get('Email').errors?.pattern
              "
            >
              Invalid Email addres
            </p>
          </div>
          <div class="input-box">
            <label>UserName</label>
            <input type="text" formControlName="UserName" />
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('UserName').touched &&
                registerForm.get('UserName').errors?.required
              "
            >
              UserName is required
            </p>
          </div>
          <div class="input-box">
            <label>Phone Number</label>
            <input type="text" formControlName="PhoneNumber" />
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('PhoneNumber').touched &&
                registerForm.get('PhoneNumber').errors?.required
              "
            >
              Phone number is required
            </p>
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('PhoneNumber').touched &&
                registerForm.get('PhoneNumber').errors?.minlength
              "
            >
              Phone number should be 9 characters long
            </p>
          </div>
        </div>
        <div class="form-right">
          <div class="input-box">
            <label>Password</label>
            <input type="password" formControlName="Password" />
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('Password').touched &&
                registerForm.get('Password').errors?.required
              "
            >
              Password is required
            </p>
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('Password').touched &&
                registerForm.get('Password').errors?.minlength
              "
            >
              Password must be atleast 8 characters long
            </p>
          </div>
          <div class="input-box">
            <label>Confirm Password</label>
            <input type="password" formControlName="ConfirmPassword" />
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('Password').touched &&
                registerForm.get('Password').errors?.required
              "
            >
              Password is required
            </p>
            <p
              class="text-danger"
              *ngIf="
                registerForm.get('ConfirmPassword').touched &&
                registerForm.errors?.passwordMisMatch
              "
            >
              Passwords does not match
            </p>
          </div>
        </div>
        <div class="form-btn-container">
          <input
            type="submit"
            value="Create Account"
            [disabled]="!registerForm.valid"
          />
        </div>
      </form>
    </div>
  </div>
</div>
