.unread {
  font-weight: bold;
}

.side-panel {
  width: 100%;
  background-color: #131419;
  color: #03a9f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.side-panel-list {
  list-style: none;
}

.side-panel-list-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.row {
  min-height: 80vh;
}
